html {
    background: #ffffff;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #2f533e;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-body {
    flex: 1;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
    padding-right: 70px;
    padding-left: 70px;
    background: #d9d9d9;
}

header {
    background: #ccc;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

img.no-float {
    float: none;
}

.floatright {
    font-size: small;
    float: right;
    width: 350px;
    margin: 0 0 10px 10px;
}

.floatright img {
    width: 100%;
    height: auto;
    border: 1px solid #000;
}

.floatleft {
    font-size: small;
    float: left;
    width: 350px;
    padding-right: 25px;
    margin: 0 0 10px 0;
}

.floatleft img {
    width: 100%;
    height: auto;
    border: 1px solid #000;
}

.titleleft {
    padding-left: 700px;
}

.flex-container-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2f533e;
    font-size: x-large;
    position: sticky;
    top: 0;
}

.flex-container-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #508D69;
    font-size: x-large;
    position: sticky;
    top: 0;
}

.flex-titles {
    list-style: none;
    display: flex;
    color: #e8e8e8;
    background-color: #2f533e;
}

.flex-titles li {
    margin-left: 5px;
    margin-right: 1px;
    padding: 6px;
}

.flex-links {
    list-style: none;
    display: flex;
}

.flex-links li {
    margin-left: 35px;
    margin-right: 35px;
    padding: 5px;
}

.flex-container-social-links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    top: 0;
    color: #508D69;
}

.flex-links-social li a {
    margin-right: 35px;
    color: #508D69;
}

.flex-links-social {
    list-style: none;
    display: flex;
}

a {
    color: #e8e8e8;
    text-decoration: none;
  }

#title-body {
    font-size: large;
}

.blog-post {
    border-bottom: 2px dotted #505050;
}

.form-example {
    background: #727070;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.contact-form {
    margin: 20px;
}

.form-contact {
    margin-bottom: 20px;
}

label {
    vertical-align: top;
    margin-bottom: 5px;
  }

table {
    margin-bottom: 10px;
}

table tr {
    margin-right: 5px;
    margin-left: 5px;
}